{
    "swagger": "2.0",
    "info": {
        "description": "",
        "version": "1.0.0",
        "title": "ScamSniffer Detector API"
    },
    "host": "detector.scamsniffer.io",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "api/detect": {
            "get": {
                "tags": [
                    "Detector"
                ],
                "summary": "Given url detection risk",
                "description": "Given url detection risk",
                "operationId": "detectUrl",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "link",
                        "description": "The url to be detect",
                        "type": "string",
                        "required": true,
                        "default": "https://moonrunnerz.io/"
                    },
                    {
                        "in": "query",
                        "name": "force",
                        "type": "integer",
                        "enum": [
                            0,
                            1
                        ],
                        "default": 0,
                        "description": "If already have results but need to detect again"
                    }
                ],
                "security": [
                    {
                        "APIKeyQueryParam": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK (successfully authenticated)"
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "APIKeyHeader": {
            "type": "apiKey",
            "in": "header",
            "name": "X-API-Key"
        },
        "APIKeyQueryParam": {
            "type": "apiKey",
            "in": "query",
            "name": "api_key"
        }
    }
}